.register-container ,.login-container{
    width: 100vw;
    height: 100vh;
    background: url("/public/Images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register-container .form-container{
    width: 40%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.507);
}
.register-container .form-container .reg-title{
    font-style: 25px;
    font-weight: 300;
}
.register-container .form-container form{
    display: flex;
    flex-wrap: wrap;
}
.register-container .form-container form input{
    flex: 1;
    min-width: 40%;
    margin: 20px 10px 0px 0px;
    height: 30px;
    padding: 10px;
}
.register-container .form-container form .agreement{
    font-size: 12px;
    margin: 20px 0px;
}
.register-container .form-container form button{
    width: 40%;
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
}

/* Login */

.login-container .login-form-container{
    width: 20%;
    padding: 20px;
    background-color: rgb(255, 255, 255);
}
.login-container .login-form-container form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.login-container .login-form-container form input{
    flex: 1;
    min-width: 100%;
    margin: 10px 10px 0px 0px;
    height: 25px;
    padding: 5px;
}
.login-container .login-form-container form button{
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 5px;
    border: none;
}
.login-container .login-form-container button{
    width: 100%;
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 5px;
    border: none;
}
.login-container .login-form-container form .forgot{
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
    text-align: right;
    padding: 5px;
}
.login-container .login-form-container .social-link{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login-container .login-form-container .social-link .icon{
    margin:5px 10px;
    width: 30px;
    height: 30px;
}

.login-container .login-form-container .social-link .google{
    color: #DB4A39;
}
.login-container .login-form-container .social-link .facebook{
    color: #3B5998;
}
.login-container .login-form-container .social-link .linkdin{
    color: #0077b5;
}

.login-container .login-form-container .new-account{
    font-size: 15px;
    text-align: center;
}