.slide-container{
    width: 100%;
    height:100vh;
    display: flex;
    /* overflow: hidden; */
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-thumb{
    background: rgb(77, 64, 64);
}
::-webkit-scrollbar-track{
    background: transparent;
}
.slide-page{
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex: 1;
}
.slide-page .arrow{
    width: 50px;
    height: 50px;
    display: flex;
    background-color: rgb(167, 166, 166);
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
    opacity: 0.5;
}
.left-arrow{
    left: 10px;
}
.right-arrow{
    right:10px;
}
.slide-img{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex: 1;
    padding-left: 30px;

}
.slide-img img{
    height: 80%;
}
.slide-info{
    flex: 1;
    padding: 25px;
    text-align: left;
}
.info-title{
    font-size: 70px;
    font-weight: 700;
}
.info-desc{
    margin: 50px 0;
    font-size: 20px;
    font-weight: 500 ;
    letter-spacing: 3px;
}
.info-button Button{
    font-size: 15px;
    border: 1px solid rgb(77, 64, 64);
    color: rgb(77, 64, 64);
}
.info-button Button:hover{
    border: 1px solid rgb(77, 64, 64);
}
